Thumb.bd
.DS_Store
.svn
.htaccess
*.log
*~
*.swp
*.mwb
*.bak
Icon?
code_coverage
coverage
nbproject
build
.idea
application/cache
application/logs
application/files
application/config/database.php
application/config/version.php
application/config/dev-htpasswd
htdocs/media/*